<%- include("./partials/header.ejs") %> 

<% if(typeUser=="user" || typeUser=="searcher"){ %>  <!-- AQUI POSEM IF I LO DE DINS DE L'IF NOMES ES PINTARA QUAN L'USER SIGUI ADMIN -->
<header class="w3-display-container w3-content" style="max-width:1500px;">
  <img class="w3-image" src="/images/hotel.jpg" alt="The Hotel" style="min-width:1000px" width="1500" height="800">
  <div class="w3-display-left w3-padding w3-col l6 m8">
    <div class="w3-container w3-red">
      <h2><i class="fa fa-bed w3-margin-right"></i>Hotel Name</h2>
    </div>
    <div class="w3-container w3-white w3-padding-16">
      <form action="/availability" target="_blank" method="GET">
        <div class="w3-row-padding" style="margin:0 -16px;">
          <div class="w3-half w3-margin-bottom">
            <label><i class="fa fa-calendar-o"></i> Check In</label>
            <input class="w3-input w3-border" type="date" placeholder="DD MM YYYY" name="CheckIn" required>
          </div>
          <div class="w3-half">
            <label><i class="fa fa-calendar-o"></i> Check Out</label>
            <input class="w3-input w3-border" type="date" placeholder="DD MM YYYY" name="CheckOut" required>
          </div>
        </div>
        <div class="w3-row-padding" style="margin:8px -16px;">
          <div class="w3-half w3-margin-bottom">
            <label><i class="fa fa-male"></i> Adults</label>
            <input class="w3-input w3-border" type="number" value="1" name="Adults" min="1" max="6">
          </div>
          <div class="w3-half">
            <label><i class="fa fa-child"></i> Kids</label>
          <input class="w3-input w3-border" type="number" value="0" name="Kids" min="0" max="6">
          </div>
        </div>
        <button class="w3-button w3-dark-grey" type="submit"><i class="fa fa-search w3-margin-right" onclick="onClickDesplazar()"></i> Search availability</button>
      </form>
    </div>
  </div>
</header>
<!-- Page content -->
<div class="w3-content" style="max-width:1532px;">

  <div class="w3-container w3-margin-top" id="rooms">
    <h3>Rooms</h3>
    <p>Make yourself at home is our slogan. We offer the best beds in the industry. Sleep well and rest well.</p>
  </div>
  
  <div class="w3-row-padding">
    <div class="w3-col m3">
      <label><i class="fa fa-calendar-o"></i> Check In</label>
      <input class="w3-input w3-border" type="text" placeholder="DD MM YYYY">
    </div>
    <div class="w3-col m3">
      <label><i class="fa fa-calendar-o"></i> Check Out</label>
      <input class="w3-input w3-border" type="text" placeholder="DD MM YYYY">
    </div>
    <div class="w3-col m2">
      <label><i class="fa fa-male"></i> Adults</label>
      <input class="w3-input w3-border" type="number" placeholder="1">
    </div>
    <div class="w3-col m2">
      <label><i class="fa fa-child"></i> Kids</label>
      <input class="w3-input w3-border" type="number" placeholder="0">
    </div>
    <div class="w3-col m2">
      <label><i class="fa fa-search"></i> Search</label>
      <button class="w3-button w3-block w3-black">Search</button>
    </div>
  </div>
  <!-- <form action="/search" method="GET"> Es fa get per obtenir informacio d'un endpoint -->
    <!-- <label for="price">
    <input type="number" min="0" max="1000000" id="price" name="price">
    </label>
    <button>Buscar</button>
  </form> -->
  <% } %> 
  <div class="w3-row-padding w3-padding-16">
     
    <% rooms.forEach(room => { %> 
    <% if(typeUser=="user"){ %> 
    <div class="w3-third w3-margin-bottom">
      <img src="<%= room.photos[0].url %>" alt="Norway" style="width:100%">
      <div class="w3-container w3-white">
        <h3><%= room.title %> </h3>
        <h6 class="w3-opacity"><%= room.price %>€</h6>
        <p>Single bed</p>
        <p><%= room.meters %> <sup>2</sup></p>
        <p class="w3-large">
        <% if(room.services[0]=="on"){ %> 
          <i class="fa fa-thermometer-0"></i>
        <% } %> 
        <% if(room.services[1]=="on"){ %> 
          <i class="fa fa-thermometer-4"></i>
        <% } %> 
        <% if(room.services[2]=="on"){ %> 
          <i class="fa fa-wheelchair"></i>
        <% } %> 
        <% if(room.services[3]=="on"){ %> 
          <i class="fa fa-tv"></i>
        <% } %> 
        <% if(room.services[4]=="on"){ %> 
          <i class="fa fa-cutlery"></i>
        <% } %> 
        <% if(room.services[5]=="on"){ %> 
          <i class="fa fa-wifi"></i>
        <% } %> </p>
        <a href="/room/<%= room._id %>"><button class="w3-button w3-block w3-black w3-margin-bottom">Choose Room</button></a>
        <% } %> 
        <% if(typeUser=="searcher"){ %>
          <div class="w3-third w3-margin-bottom">
            <img src="<%= room.idRoom.photos[0].url %>" alt="Norway" style="width:100%">
            <div class="w3-container w3-white">
              <h3><%= room.idRoom.title %> </h3>
              <h6 class="w3-opacity"><%= room.price %>€</h6>
              <p>Single bed</p>
              <p><%= room.idRoom.meters %> <sup>2</sup></p>
              <p class="w3-large">
              <% if(room.idRoom.services[0]=="on"){ %> 
                <i class="fa fa-thermometer-0"></i>
              <% } %> 
              <% if(room.idRoom.services[1]=="on"){ %> 
                <i class="fa fa-thermometer-4"></i>
              <% } %> 
              <% if(room.idRoom.services[2]=="on"){ %> 
                <i class="fa fa-wheelchair"></i>
              <% } %> 
              <% if(room.idRoom.services[3]=="on"){ %> 
                <i class="fa fa-tv"></i>
              <% } %> 
              <% if(room.idRoom.services[4]=="on"){ %> 
                <i class="fa fa-cutlery"></i>
              <% } %> 
              <% if(room.idRoom.services[5]=="on"){ %> 
                <i class="fa fa-wifi"></i>
              <% } %> </p>
              <a href="/room/<%= room.idRoom._id %>"><button class="w3-button w3-block w3-black w3-margin-bottom">Choose Room</button></a>
              <% } %> 
        <% if(typeUser=="admin"){ %>
          <div class="w3-third w3-margin-bottom">
            <% if(room.downDate==undefined){ %> 
            <img src="<%= room.photos[0].url %> " alt="Norway" style="width:100%">
            <% }else{ %> 
              <img src="<%= room.photos[0].url %> " class="w3-opacity w3-greyscale-max" alt="Norway" style="width:100%">
              <% } %> 
            <div class="w3-container w3-white">
              <% if(room.downDate==undefined){ %> 
              <h3><%= room.title %> </h3>
              <% }else{ %> 
                <h3 class="w3-opacity"><%= room.title %> </h3>  
              <% } %> 
              <h6 class="w3-opacity"><%= room.price %>€</h6>
              <% if(room.downDate==undefined){ %> 
              <p>Single bed</p>
              <% }else{ %> 
                <p class="w3-opacity">Single bed</p>
                <% } %> 
                <% if(room.downDate==undefined){ %> 
              <p><%= room.meters %> <sup>2</sup></p>
              <% }else{ %> 
              <p class="w3-opacity"><%= room.meters %> <sup>2</sup></p>
              <% } %> 
              <% if(room.downDate==undefined){ %> 
                <p class="w3-large">
                  <% if(room.services[0]=="on"){ %> 
                    <i class="fa fa-thermometer-0"></i>
                  <% } %> 
                  <% if(room.services[1]=="on"){ %> 
                    <i class="fa fa-thermometer-4"></i>
                  <% } %> 
                  <% if(room.services[2]=="on"){ %> 
                    <i class="fa fa-wheelchair"></i>
                  <% } %> 
                  <% if(room.services[3]=="on"){ %> 
                    <i class="fa fa-tv"></i>
                  <% } %> 
                  <% if(room.services[4]=="on"){ %> 
                    <i class="fa fa-cutlery"></i>
                  <% } %> 
                  <% if(room.services[5]=="on"){ %> 
                    <i class="fa fa-wifi"></i>
                  <% } %> </p>
              <% }else{ %> 
                <p class="w3-large">
                  <% if(room.services[0]=="on"){ %> 
                    <i class="fa fa-thermometer-0"></i>
                  <% } %> 
                  <% if(room.services[1]=="on"){ %> 
                    <i class="fa fa-thermometer-4"></i>
                  <% } %> 
                  <% if(room.services[2]=="on"){ %> 
                    <i class="fa fa-wheelchair"></i>
                  <% } %> 
                  <% if(room.services[3]=="on"){ %> 
                    <i class="fa fa-tv"></i>
                  <% } %> 
                  <% if(room.services[4]=="on"){ %> 
                    <i class="fa fa-cutlery"></i>
                  <% } %> 
                  <% if(room.services[5]=="on"){ %> 
                    <i class="fa fa-wifi"></i>
                  <% } %> </p>
              <% } %> 
              <% if(room.downDate==undefined){ %> 
          <a href="/admin/room/<%= room._id %> "><button class="w3-button w3-block w3-black w3-margin-bottom">Administrate</button></a><!-- IMPORTANT, AL HREF HE POSAT EJO ROOM._ID, no serviria :idRoom -->
          <% }else{ %> 
          <a href="/admin/room/<%= room._id %> "><button class="w3-button w3-block w3-black w3-margin-bottom">Administrate</button></a>
          <% } %> 
          <% if(room.downDate == undefined ){ %> 
          <a href="/admin/room/<%= room._id %>/delete"><button class="w3-button w3-block w3-red w3-margin-bottom">Remove</button></a>
          <% }else{ %> 
            <a href="/admin/room/<%= room._id %>/recover"><button class="w3-button w3-block w3-green w3-margin-bottom">Recover</button></a>
            <% } %> 
            <% } %> 
      </div>
    </div>
    <%    });  %> 
  </div>
<% if(typeUser=="user" || typeUser=="searcher"){ %> 
  <div class="w3-row-padding" id="about">
    <div class="w3-col l4 12">
      <h3>About</h3>
      <h6>Our hotel is one of a kind. It is truely amazing. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h6>
    <p>We accept: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>
    </div>
    <div class="w3-col l8 12">
      <!-- Image of location/map -->
      <img src="https://www.w3schools.com/w3images/map.jpg" class="w3-image w3-greyscale" style="width:100%;">
    </div>
  </div>
  
  <div class="w3-row-padding w3-large w3-center" style="margin:32px 0">
    <div class="w3-third"><i class="fa fa-map-marker w3-text-red"></i> 423 Some adr, Chicago, US</div>
    <div class="w3-third"><i class="fa fa-phone w3-text-red"></i> Phone: +00 151515</div>
    <div class="w3-third"><i class="fa fa-envelope w3-text-red"></i> Email: mail@mail.com</div>
  </div>

  <div class="w3-panel w3-red w3-leftbar w3-padding-32">
    <h6><i class="fa fa-info w3-deep-orange w3-padding w3-margin-right"></i> On demand, we can offer playstation, babycall, children care, dog equipment, etc.</h6>
  </div>

  <div class="w3-container">
    <h3>Our Hotels</h3>
    <h6>You can find our hotels anywhere in the world:</h6>
  </div>
  
  <div class="w3-row-padding w3-padding-16 w3-text-white w3-large">
    <div class="w3-half w3-margin-bottom">
      <div class="w3-display-container">
        <img src="https://images.unsplash.com/photo-1579888286284-692fa4bdc42b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="Barcelona" style="width:100%">
        <span class="w3-display-bottomleft w3-padding">Barcelona</span>
      </div>
    </div>
    <div class="w3-half">
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="https://images.unsplash.com/photo-1613180106773-6c1ecfa268e1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="Terrassa" style="width:100%">
            <span class="w3-display-bottomleft w3-padding">Terrassa</span>
          </div>
        </div>
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="https://images.unsplash.com/photo-1593556587166-fd5f1057f67a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=793&q=80" alt="Girona" style="width:100%">
            <span class="w3-display-bottomleft w3-padding">Girona</span>
          </div>
        </div>
      </div>
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="https://images.unsplash.com/photo-1622151788322-9fc309d21961?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="Tarragona" style="width:100%">
            <span class="w3-display-bottomleft w3-padding">Tarragona</span>
          </div>
        </div>
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="https://images.unsplash.com/photo-1575366922714-df3ab9418089?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=807&q=80" alt="Molins de Rei" style="width:100%">
            <span class="w3-display-bottomleft w3-padding">Molins de Rei</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w3-container w3-padding-32 w3-black w3-opacity w3-card w3-hover-opacity-off" style="margin:32px 0;">
    <h2>Get the best offers first!</h2>
    <p>Join our newsletter.</p>
    <label>E-mail</label>
    <input class="w3-input w3-border" type="text" placeholder="Your Email address">
    <button type="button" class="w3-button w3-red w3-margin-top">Subscribe</button>
  </div>

  <div class="w3-container" id="contact">
    <h2>Contact</h2>
    <p>If you have any questions, do not hesitate to ask them.</p>
    <i class="fa fa-map-marker w3-text-red" style="width:30px"></i> Chicago, US<br>
    <i class="fa fa-phone w3-text-red" style="width:30px"></i> Phone: +00 151515<br>
    <i class="fa fa-envelope w3-text-red" style="width:30px"> </i> Email: mail@mail.com<br>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required name="Message"></p>
      <p><button class="w3-button w3-black w3-padding-large" type="submit">SEND MESSAGE</button></p>
    </form>
  </div>

<!-- End page content -->
</div>
<% } %> 
<!-- Footer -->
<footer class="w3-padding-32 w3-black w3-center w3-margin-top">
  <h5>Find Us On</h5>
  <div class="w3-xlarge w3-padding-16">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

<!-- Add Google Maps -->
<script>
function onClickDesplazar(){

}
function myMap() {
  myCenter=new google.maps.LatLng(41.878114, -87.629798);
  var mapOptions= {
    center:myCenter,
    zoom:12, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

</body>
</html>
